<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RoomateManager.Properties.Settings.RoommateManagerConnectionString"
            connectionString="Data Source=TRANMAN\MSSQLSERVER02;Initial Catalog=RoommateManager;Integrated Security=True;Encrypt=True;Trust Server Certificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>