CREATE DATABASE [RoommateManager]
USE [RoommateManager]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOCAO](
	[MABC] [int] IDENTITY(1,1) NOT NULL,
	[NOIDUNG] [nvarchar](200) NULL,
	[NGUOIBC] [varchar](10) NULL,
	[NGAYBC] [date] NULL,
	[DAXULY] [bit] NULL,
	[DAXOA] [bit] NULL,
 CONSTRAINT [PK_BAOCAO] PRIMARY KEY CLUSTERED 
(
	[MABC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADONTONG]    Script Date: 26/03/2026 7:26:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONTONG](
	[MAHDT] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](50) NULL,
	[NOIDUNG] [nvarchar](100) NULL,
	[NGUOINHAN] [varchar](100) NULL,
	[NGAYGDT] [date] NULL,
	[SOTIEN] [decimal](10, 2) NULL,
	[DADONG] [bit] NULL,
	[NGAYGUI] [date] NULL,
	[DAXOA] [bit] NULL,
	[MANHA] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADONTV]    Script Date: 26/03/2026 7:26:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONTV](
	[MAHDTV] [int] IDENTITY(1,1) NOT NULL,
	[MAHDT] [int] NOT NULL,
	[NOIDUNG] [nvarchar](100) NULL,
	[NGUOICHUYEN] [varchar](10) NOT NULL,
	[NGAYGDTV] [date] NULL,
	[SOTIEN] [decimal](10, 2) NULL,
	[DADONG] [bit] NULL,
	[NGAYGUI] [date] NULL,
	[DAXOA] [bit] NULL,
	[NGUOINHAN] [varchar](10) NULL,
 CONSTRAINT [PK_MAHDTV] PRIMARY KEY CLUSTERED 
(
	[MAHDTV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHA]    Script Date: 26/03/2026 7:26:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHA](
	[MANHA] [varchar](10) NOT NULL,
	[SONHA] [varchar](4) NULL,
	[DUONG] [nvarchar](50) NULL,
	[PHUONG] [nvarchar](50) NULL,
	[TP] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANHA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANCONG]    Script Date: 26/03/2026 7:26:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANCONG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NGAYTH] [date] NULL,
	[TENCV] [nvarchar](50) NULL,
	[NGUOITHUCHIEN] [varchar](10) NULL,
	[DALAM] [bit] NULL,
	[DAXOA] [bit] NULL,
	[NGUOIPHANCONG] [varchar](10) NULL,
 CONSTRAINT [PK_PHANCONG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THANHVIEN]    Script Date: 26/03/2026 7:26:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THANHVIEN](
	[ID] [varchar](10) NOT NULL,
	[PASS] [varchar](60) NULL,
	[MANHA] [varchar](10) NULL,
	[TEN] [nvarchar](50) NULL,
	[NS] [date] NULL,
	[SDT] [varchar](11) NULL,
	[MAIL] [varchar](50) NULL,
	[SEX] [bit] NULL,
	[AD] [bit] NULL,
	[CON] [bit] NULL,
	[USERNAME] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THONGBAO]    Script Date: 26/03/2026 7:26:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONGBAO](
	[MATB] [int] IDENTITY(1,1) NOT NULL,
	[NOIDUNG] [nvarchar](150) NULL,
	[NGUOITB] [varchar](10) NULL,
	[NGAYTB] [date] NULL,
	[NGUOINHAN] [varchar](10) NULL,
	[DAXOA] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MATB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XULYVIPHAM]    Script Date: 26/03/2026 7:26:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XULYVIPHAM](
	[MAVIPHAM] [int] IDENTITY(1,1) NOT NULL,
	[NGUOIVIPHAM] [varchar](10) NULL,
	[NOIDUNG] [nvarchar](200) NULL,
	[MABC] [int] NULL,
	[NGAYXULY] [date] NULL,
	[DONE] [bit] NULL,
	[DAXOA] [bit] NULL,
	[NGUOIXULY] [varchar](10) NULL,
 CONSTRAINT [PK_XULYVIPHAM] PRIMARY KEY CLUSTERED 
(
	[MAVIPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UNI_MAHDT_NGUOICHUYEN]    Script Date: 26/03/2026 7:26:41 CH ******/
ALTER TABLE [dbo].[HOADONTV] ADD  CONSTRAINT [UNI_MAHDT_NGUOICHUYEN] UNIQUE NONCLUSTERED 
(
	[MAHDT] ASC,
	[NGUOICHUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BAOCAO]  WITH CHECK ADD  CONSTRAINT [FK_NGUOIBC_IDTHANHVIEN] FOREIGN KEY([NGUOIBC])
REFERENCES [dbo].[THANHVIEN] ([ID])
GO
ALTER TABLE [dbo].[BAOCAO] CHECK CONSTRAINT [FK_NGUOIBC_IDTHANHVIEN]
GO
ALTER TABLE [dbo].[HOADONTONG]  WITH CHECK ADD  CONSTRAINT [FK_MANHA_NHA] FOREIGN KEY([MANHA])
REFERENCES [dbo].[NHA] ([MANHA])
GO
ALTER TABLE [dbo].[HOADONTONG] CHECK CONSTRAINT [FK_MANHA_NHA]
GO
ALTER TABLE [dbo].[HOADONTV]  WITH CHECK ADD  CONSTRAINT [FK_MAHDT_MAHOADONTONG] FOREIGN KEY([MAHDT])
REFERENCES [dbo].[HOADONTONG] ([MAHDT])
GO
ALTER TABLE [dbo].[HOADONTV] CHECK CONSTRAINT [FK_MAHDT_MAHOADONTONG]
GO
ALTER TABLE [dbo].[HOADONTV]  WITH CHECK ADD  CONSTRAINT [FK_NGUOICHUYEN_IDTHANHVIEN] FOREIGN KEY([NGUOICHUYEN])
REFERENCES [dbo].[THANHVIEN] ([ID])
GO
ALTER TABLE [dbo].[HOADONTV] CHECK CONSTRAINT [FK_NGUOICHUYEN_IDTHANHVIEN]
GO
ALTER TABLE [dbo].[HOADONTV]  WITH CHECK ADD  CONSTRAINT [FK_NGUOINHAN_IDTHANHVIEN] FOREIGN KEY([NGUOINHAN])
REFERENCES [dbo].[THANHVIEN] ([ID])
GO
ALTER TABLE [dbo].[HOADONTV] CHECK CONSTRAINT [FK_NGUOINHAN_IDTHANHVIEN]
GO
ALTER TABLE [dbo].[PHANCONG]  WITH CHECK ADD  CONSTRAINT [FK_NGUOIPHANCONG_IDTHANHVIEN] FOREIGN KEY([NGUOIPHANCONG])
REFERENCES [dbo].[THANHVIEN] ([ID])
GO
ALTER TABLE [dbo].[PHANCONG] CHECK CONSTRAINT [FK_NGUOIPHANCONG_IDTHANHVIEN]
GO
ALTER TABLE [dbo].[PHANCONG]  WITH CHECK ADD  CONSTRAINT [FK_NGUOITHUCHIEN_IDTHANHVIEN] FOREIGN KEY([NGUOITHUCHIEN])
REFERENCES [dbo].[THANHVIEN] ([ID])
GO
ALTER TABLE [dbo].[PHANCONG] CHECK CONSTRAINT [FK_NGUOITHUCHIEN_IDTHANHVIEN]
GO
ALTER TABLE [dbo].[THANHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_MANHA_IDTHANHVIEN] FOREIGN KEY([MANHA])
REFERENCES [dbo].[NHA] ([MANHA])
GO
ALTER TABLE [dbo].[THANHVIEN] CHECK CONSTRAINT [FK_MANHA_IDTHANHVIEN]
GO
ALTER TABLE [dbo].[THONGBAO]  WITH CHECK ADD  CONSTRAINT [FK_NGUOINHANTB_IDTHANHVIEN] FOREIGN KEY([NGUOINHAN])
REFERENCES [dbo].[THANHVIEN] ([ID])
GO
ALTER TABLE [dbo].[THONGBAO] CHECK CONSTRAINT [FK_NGUOINHANTB_IDTHANHVIEN]
GO
ALTER TABLE [dbo].[THONGBAO]  WITH CHECK ADD  CONSTRAINT [FK_NGUOITB_IDTHANHVIEN] FOREIGN KEY([NGUOITB])
REFERENCES [dbo].[THANHVIEN] ([ID])
GO
ALTER TABLE [dbo].[THONGBAO] CHECK CONSTRAINT [FK_NGUOITB_IDTHANHVIEN]
GO
ALTER TABLE [dbo].[XULYVIPHAM]  WITH CHECK ADD  CONSTRAINT [FK_MABC_BAOCAO] FOREIGN KEY([MABC])
REFERENCES [dbo].[BAOCAO] ([MABC])
GO
ALTER TABLE [dbo].[XULYVIPHAM] CHECK CONSTRAINT [FK_MABC_BAOCAO]
GO
ALTER TABLE [dbo].[XULYVIPHAM]  WITH CHECK ADD  CONSTRAINT [FK_NGUOIVIPHAM_IDTHANHVIEN] FOREIGN KEY([NGUOIVIPHAM])
REFERENCES [dbo].[THANHVIEN] ([ID])
GO
ALTER TABLE [dbo].[XULYVIPHAM] CHECK CONSTRAINT [FK_NGUOIVIPHAM_IDTHANHVIEN]
GO
ALTER TABLE [dbo].[XULYVIPHAM]  WITH CHECK ADD  CONSTRAINT [FK_NGUOIXULY_IDTHANHVIEN] FOREIGN KEY([NGUOIXULY])
REFERENCES [dbo].[THANHVIEN] ([ID])
GO
ALTER TABLE [dbo].[XULYVIPHAM] CHECK CONSTRAINT [FK_NGUOIXULY_IDTHANHVIEN]
GO
